<p>playlists-view works!</p>

<div class="container">
    <div class="row">
        <div class="col">
            <app-playlists-list [playlists]= "playlists" [(selected)]= "selected" ></app-playlists-list>
        </div>
        <div class="col" *ngIf= "mode === 'details'" >

            <app-playlists-details [playlist]="selected" (editClicked)= "edit()"></app-playlists-details>

        </div>
        <div class="col" *ngIf= "mode === 'edit'">
            <app-playlists-editor [playlist]="selected" (cancelClicked)= "cancel()" (saveClicked)= "save($event)"></app-playlists-editor>
        </div>
    </div>
</div>

