

<div class="row">
  <div class="col">
    <app-search-form (searchEvent) = "search($event)"></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-results-grid [results]= "results"></app-results-grid>
  </div>
</div>