<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search" [(ngModel)] = "searched"
  />
  <button class="btn btn-outline-secondary" type="button" (click)= "search()">
    Search
  </button>
</div>

