<dl>
  <dt>Name</dt>
  <dd>{{ playlist.name }}</dd>
  <dt>Public</dt>
  <dd
    class="isVisible"
    [class.isPublic]="playlist.public"
    [class.isPrivate]="!playlist.public"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>
  <!-- <dd [style.color] = "playlist.public ? 'green' : 'red'">{{playlist.public ? 'Yes' : 'No'}}</dd> -->
  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>
<button class='btn btn-success' (click)= "editSelected()">Edit</button>
