<p>playlist-editor works!</p>


<div class="form-group mb-3">
  <label>Name:</label>
  <input type="text" class="form-control"  [(ngModel)]= "draft.name">
</div>

<div class="form-group mb-3">
  <label><input type="checkbox" [(ngModel)]= "draft.public"> Public</label>
</div>

<div class="form-group mb-3">
  <label>Description:</label>
  <textarea class="form-control" [(ngModel)]= "draft.description"></textarea>
</div>
<button class='btn btn-danger'(click)= "cancelSelected()">Cancel</button>
<button class='btn btn-success' (click)= "saveSelected()">Save</button>